<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-test</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
<form action="" method="post">
    {{ form.csrf_token() }}
    {% for field in form if field.name != "csrf_token" if field.name != "submit" %}
        {{ field.label() }}
        {{ field }}

        {% for error in field.errors %}
            {{ error }}
        {% endfor %}

    {% endfor %}
{{ form.submit }}
</form>
<p>Data {{ username }}, {{ password }}, {{ about_me }}</p>
</body>
</html>